<div>
  <p>オピニオン者名：<%= opinion.doctor.family_name + ' ' + opinion.doctor.first_name %></p>
  <p>オピニオン詳細：<%= opinion.content %></p>
  <% if doctor_signed_in? %>
    <% if opinion.doctor_id == current_doctor.id %>
      <p><%= link_to edit_opinion_path(opinion) do %>編集<% end %></p>
    <% end %>
  <% end %>
  <% opinion.doctor_comments.each do |doctor_comment| %>
    <p>医師コメント者名：<%= doctor_comment.doctor.family_name + ' ' + doctor_comment.doctor.first_name %></p>
    <p>医師コメント詳細：<%= doctor_comment.content %></p>
    <% if doctor_signed_in? %>
      <% if doctor_comment.doctor_id == current_doctor.id %>
        <p><%= link_to edit_doctor_comment_path(doctor_comment) do %>編集<% end %></p>
      <% end %>
    <% end %>
  <% end %>
  <% opinion.patient_comments.each do |patient_comment| %>
    <p><%= patient_comment.patient.family_name + ' ' + patient_comment.patient.first_name %></p>
    <p><%= patient_comment.content %></p>
    <% if patient_signed_in? %>
      <% if patient_comment.patient_id == current_patient.id %>
        <p><%= link_to edit_patient_comment_path(patient_comment) do %>編集<% end %></p>
      <% end %>
    <% end %>
  <% end %>
  <% if doctor_signed_in? %>
    <%= form_with model: DoctorComment.new, local: true do |c| %>
      <p>医師コメント内容<%= c.text_area :content %></p>
      <%= c.submit '送信' %>
    <% end %>
  <% elsif patient_signed_in? %>
    <%= form_with model: PatientComment.new, local: true do |c| %>
      <p>患者コメント内容<%= c.text_area :content %></p>
      <%= c.hidden_field :opinion_id, value: opinion.id %>
      <%= c.submit '送信' %>
    <% end %>
  <% end %>
</div>
