<div class="opinion-box">
  <div class="opinion__prof-box">
    <%= image_tag opinion.doctor.image.thumb.to_s, class:"opinion__image" %>
    <div class="opinion__name-box">
      <h1 class="opinion__name"><%= opinion.doctor.family_name + ' ' + opinion.doctor.first_name %></h1>
      <p class="opinion__time"><%= opinion.created_at %></p>
    </div>
  </div>
  <div class="opinion__content-box">
    <p class="opinion__content"><%= safe_join(opinion.content.split("\n"),tag(:br)) %></p>
    <% if doctor_signed_in? %>
      <% if opinion.doctor_id == current_doctor.id %>
        <p class="opinion__edit post-button opinion-edit__toggle-<%= opinion.id %>">編集</p>
        <div class="opinion-edit__form-<%= opinion.id %> form-toggle text-area__wrapper"style="margin: 0 1rem;">
          <%= form_with model: opinion, url: opinion_path(opinion), local: true do |f| %>
            <div class="field">
              <%= f.text_area :content, placeholder:"内容" %>
              <%= f.label :content, '内容', class:"label" %>
            </div>
            <%= f.submit '送信' %>
          <% end %>
        </div>

      <% end %>
    <% end %>
  </div>
  <div class="opinion__comment-box">
    <p class="opinion__comment-size">コメント数： <%= opinion.doctor_comments.size + opinion.patient_comments.size %>件</p>
    <% (opinion.patient_comments + opinion.doctor_comments).sort_by{|record| record.created_at}.each do |comment| %>
      <% if comment.class == DoctorComment %>
        <div class="opinion__comment">
          <h1 class="opinion__comment__name"><%= comment.doctor.family_name + ' ' + comment.doctor.first_name %></h1>
          <p class="opinion__comment__time"><%= comment.created_at %></p>
          <p class="opinion__comment__content"><%= safe_join(comment.content.split("\n"),tag(:br)) %></p>
          <% if doctor_signed_in? %>
            <% if comment.doctor_id == current_doctor.id %>
              <p class="opinion__comment__edit post-button opinion__comment-edit__toggle-<%= comment.id %>">編集</p>
              <div class="opinion__comment-edit__form-<%= comment.id %> form-toggle">
                <div class="text-area__wrapper">
                  <%= form_with model: comment, url: doctor_comment_path(comment), local: true do |c| %>
                  <div class="field">
                    <%= c.text_area :content, placeholder: '内容' %>
                    <%= c.label :content, "内容", class:"label" %>
                  </div>
                    <%= c.submit '送信' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% elsif comment.class == PatientComment %>
        <div class="opinion__comment">
          <h1 class="opinion__comment__name"><%= comment.patient.family_name + ' ' + comment.patient.first_name %></h1>
          <p class="opinion__comment__time"><%= comment.created_at %></p>
          <p class="opinion__comment__content"><%= safe_join(comment.content.split("\n"),tag(:br)) %></p>
          <% if patient_signed_in? %>
            <% if comment.patient_id == current_patient.id %>
              <p class="opinion__comment__edit post-button opinion__comment-edit__toggle-<%= comment.id %>">編集</p>
              <div class="opinion__comment-edit__form-<%= comment.id %> form-toggle">
                <div class="text-area__wrapper">
                  <%= form_with model: comment, url: patient_comment_path(comment), local: true do |c| %>
                  <div class="field">
                    <%= c.text_area :content, placeholder:"内容" %>
                    <%= c.label :content, "内容", class:"label" %>
                  </div>
                    <%= c.submit '送信' %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <script>
        $('.opinion__comment-edit__toggle-<%= comment.id %>').click(function() {
          $('.opinion__comment-edit__form-<%= comment.id %>').toggle();
        })
      </script>
    <% end %>
  </div>
  <% if doctor_signed_in? %>
    <div class="opinion__comment__toggle-<%= opinion.id %>">
      <p>コメントする</p>
    </div>
    <div class="opinion__comment__form-<%= opinion.id %> form-toggle">
      <div class="text-area__wrapper">
        <%= form_with model: DoctorComment.new, local: true do |c| %>
          <p>医師コメント内容<%= c.text_area :content %></p>
          <%= c.hidden_field :opinion_id, value: opinion.id %>
          <%= c.submit '送信' %>
        <% end %>
      </div>
    </div>
  <% elsif patient_signed_in? %>
    <div class="opinion__comment__toggle-<%= opinion.id %>">
      <p>コメントする</p>
    </div>
    <div class="opinion__comment__form-<%= opinion.id %> form-toggle">
      <div class="text-area__wrapper">
        <%= form_with model: PatientComment.new, local: true do |c| %>
          <p>患者コメント内容<%= c.text_area :content %></p>
          <%= c.hidden_field :opinion_id, value: opinion.id %>
          <%= c.submit '送信' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


<script>
    $('.opinion__comment__toggle-<%= opinion.id %>').click(function() {
        $('.opinion__comment__form-<%= opinion.id %>').toggle();
    })
    $('.opinion-edit__toggle-<%= opinion.id %>').click(function() {
        $('.opinion-edit__form-<%= opinion.id %>').toggle();
    })
</script>
