<div class="login-form__box">
  <h1 class="login-form__title">Re:MEDICAL</h1>
  <p class="login-form__text">SECOND OPINION MORE EASILY.</p>
  <p class="login-form__text">医師用ログインフォーム</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Mailaddress" %>
      <%= f.label :email, "メールアドレス", class:"label" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
      <%= f.label :password, "パスワード", class:"label" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="field" style="margin-top:2rem;">
      <%= f.submit "ログイン", class:"button-default" %>
    </div>
  <% end %>

  <%= render "doctors/shared/links" %>
</div>
