<div class="hospital-container">
  <div class="hospital-main">
    <div class="hospital-main__left">
      <div class="hospital-new__box">
        <h1>新規病院登録</h1>
        <%= form_with model: Hospital.new, local: true do |f| %>
          <div class="field">
              <%= f.text_field :name, autofocus:true, autocomplete: "name", placeholder: '病院名' %>
              <%= f.label :name, '病院名', class:"label" %>
            </div>

            <div class="field">
              <%= f.text_field :name_kana, autocomplete: "family_name", placeholder: '病院フリガナ' %>
              <%= f.label :name_kana, '病院フリガナ', class:"label" %>
            </div>

            <div class="field">
              <%= f.text_field :founder, autocomplete: "founder", placeholder: '開設者名' %>
              <%= f.label :founder, '開設者名', class:"label" %>
            </div>

            <div class="field">
              <%= f.text_field :founder_kana, autocomplete: "founder_kana", placeholder: '開設者名カナ' %>
              <%= f.label :founder_kana, '開設者名カナ', class:"label" %>
            </div>

            <div class="field">
              <%= f.text_field :administer, autocomplete: "administer", placeholder: '管理者名' %>
              <%= f.label :administer, '管理者名', class:"label" %>
            </div>

            <div class="field">
              <%= f.text_field :administer_kana, autocomplete: "administer_kana", placeholder: "管理者フリガナ" %>
              <%= f.label :administer_kana, "管理者フリガナ", class:"label" %>
            </div>

            <div class="field">
              <%= f.number_field :post_code, autocomplete: "post_code", placeholder: "郵便番号", class:"postcode", id:"post_code" %>
              <%= f.label :post_code, "郵便番号", class:"label" %>
            </div>

            <div class="field">
              <%= f.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name, include_blank: "選択してください", class:"address" %>
              <%= f.label :prefecture, "都道府県", class:"label" %>
            </div>

            <div class="field">
              <%= f.text_field :address, autocomplete: "address", placeholder: "住所", class:"address", id:"address" %>
              <%= f.label :address, "住所", class:"label" %>
            </div>

            <div class="field">
              <%= f.telephone_field :phone_number, autocomplete: "phone_number", placeholder: "電話番号" %>
              <%= f.label :phone_number, "電話番号", class:"label" %>
            </div>

            <div class="field">
              <%= f.url_field :homepage, autocomplete: "homepage", placeholder: "ホームページ" %>
              <%= f.label :homepage, "ホームページ", class:"label" %>
            </div>

            <div class="prof__text-area__wrapper">
              <div class="field">
                <%= f.text_area :description, autocomplete: "description", placeholder: "病院説明等" %>
                <%= f.label :description, "病院説明等", class:"label" %>
              </div>
            </div>

            <div class="field">
              <%= f.file_field :image, autocomplete: "image", placeholder: "病院画像" %>
              <%= f.label :image, "病院画像", class:"label" %>
            </div>

            <div class="checkbox-field">
              <%= f.collection_check_boxes(:department_ids, Department.all, :id, :name) do |b| %>
                <div class="checkbox">
                  <%= b.check_box(class: "check_box") %>
                  <%= b.label do %>
                    <%= b.object.name %>
                  <% end %>
                </div>
              <% end %>
            </div>

          <div class="field">
            <%= f.submit '送信', class:"button-default" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="hospital-main__right">
      <h1>既に所属している方はこちら</h1>
    </div>
  </div>
</div>
