<h1>医師詳細</h1>

<p><%= image_tag @doctor.image.thumb.to_s %></p>
<p><%= @doctor.family_name + ' ' + @doctor.first_name %>
  <small>(<%= @doctor.family_name_kana + ' ' + @doctor.first_name_kana %>)</small></p>
<p><%= @doctor.date_of_birth %></p>
<p><%= @doctor.gender %></p>
<p><%= @doctor.hospital_id %></p>
<p><%= @doctor.department_id %></p>
<p><%= @doctor.description %></p>
<% if doctor_signed_in? %>
  <% if @doctor == current_doctor %>
    <%= link_to edit_doctor_registration_path do %>編集<% end %>
  <% end %>
<% end %>
