<h1>医師詳細</h1>

<p><%= @doctor.family_name %></p>
<p><%= @doctor.first_name %></p>
<p><%= @doctor.family_name_kana %></p>
<p><%= @doctor.first_name_kana %></p>
<p><%= @doctor.date_of_birth %></p>
<p><%= @doctor.gender %></p>
<p><%= @doctor.description %></p>
<p><%= @doctor.image %></p>
<p><%= @doctor.hospital_id %></p>
<p><%= @doctor.department_id %></p>
<p><%= @doctor.email %></p>
