<div>
<p>投稿者名：<%= post.patient.family_name + ' ' + post.patient.first_name %>
<p>病名：<%= post.desease_name %></p>
<p>病状詳細：<%= post.detail %></p>
<% post.refferal.each do |r| %>
  <%= image_tag r.thumb.to_s %>
<% end %>
<% if doctor_signed_in? %>
  <%= form_with model: Opinion.new, local: true do |f| %>
    <p>オピニオン内容<%= f.text_area :content %></p>
    <%= f.hidden_field :post_id, value: post.id %>
  <%= f.submit '送信' %>
  <% end %>
<% end %>


<%= render post.opinions %>

</div>
