<div class="post-container">
  <div class="hospital-show">
    <div class="hospital-show__intro">
      <%= image_tag "dna.jpg", class:"hospital-show__image" %>
      <div class="hospital-show__text">
        <p class="hospital-show__name">
          <%= @top %>
        </p>
      </div>
    </div>
  </div>
  <div class="post-main">
    <div class="post-main__left">
      <div id="infiniteScrollingContainer">
        <%= render @posts %>
        <%= will_paginate @posts, previous_label:'&lt ', next_label:' &gt',inner_window: 1, outer_window: 0 %>
      </div>
    </div>
    <div class="post-main__right">
      <%= render 'posts/search'%>
    </div>
  </div>
</div>

<script>
$(document).on("turbolinks:load", function () {
  $("#infiniteScrollingContainer").on("scroll", function () {
    if (
      $("#infiniteScrollingContainer").scrollTop() +
        $("#infiniteScrollingContainer").height() ==
      $("#infiniteScrollingContainer")[0].scrollHeight - 16
    ) {
      alert("最後までスクロールしました！");
      setTimeout(function () {
        $.ajax({
          url: "/infiniteScrolling?page=2",
        });
      }, 500);
    }
  });
});
</script>
