<h1>新規投稿</h1>
<%= form_with model: Post.new, url: posts_path, locale: true do |f| %>
  紹介状等<%= f.file_field :refferal, multiple: true %><br/>
  病名<%= f.text_field :desease_name %><br/>
  症状詳細等<%= f.text_field :detail %><br/>
  担当科<%= f.collection_select(:name, Department.all, :id, :name) %>
  <%= f.submit '送信' %>
<% end %>
