<div class="post-form__box">

  <p class="post-form__icon fas fa-laptop-medical fa-4x"></p>
  <h1 class="post-form__title">セカンドオピニオン依頼</h1>
  <p class="post-form__text">できるだけ詳しくお書きください。</p>

  <%= form_with model: Post.new,  local: true do |f| %>
    <div class="field">
      <%= f.file_field :refferal, multiple: true %>
      <%= f.label :refferal, "紹介状、検査資料など（複数可能）", class:"label" %>
    </div>

    <div class="field">
      <%= f.text_field :desease_name, autocomplete:"desease_name", placeholder: "病名" %>
      <%= f.label :desease_name, "病名", class:"label" %>
    </div>

    <div class="field">
      <%= f.collection_select(:name, Department.all, :id, :name) %>
      <%= f.label :name, "担当科", class:"label" %>
    </div>

    <div class="prof__text-area__wrapper">
      <div class="field">
        <%= f.text_area :detail, autocomplete:"detail", placeholder:"症状詳細等" %>
        <%= f.label :detail, "病状の詳細、聞きたいことなど", class:"label" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "投稿" %>
    </div>
  <% end %>
</div>
