<div class="footer-contents">

  <div class="footer-content">
    <div class="footer-content__text">
      <div class="footer-content__title">
        <p>制作者情報</p>
      </div>
      <ul>
        <li>
          片山 泰大<small> (カタヤマ タイスケ)</small>
        </li>
        <li>
          大阪府岸和田市
        </li>
        <li>
          HTML/CSS, Ruby/Ruby on Rails, JavaScript/React
        </li>
        <li>

        </li>
      </ul>
    </div>
  </div>

  <div class="footer-content">
    <div class="footer-content__text">
      <div class="footer-content__title">
        <p>コンテンツ一覧</p>
      </div>
      <ul>
        <li>
          <%= link_to 'トップページ', root_path, class:"footer-link" %>
        </li>
        <li>
          <%= link_to 'このサイトについて', about_path, class:"footer-link" %>
        </li>
        <li>
          <%= link_to '患者様ログインページ', new_patient_session_path, class:"footer-link" %>
        </li>
        <li>
          <%= link_to '医師ログインページ', new_doctor_session_path, class:"footer-link" %>
        </li>
        <li>
          <%= link_to '患者様新規登録', new_patient_registration_path, class:"footer-link" %>
        </li>
        <li>
          <%= link_to '医師新規登録', new_doctor_registration_path, class:"footer-link" %>
        </li>
        <li>
          <%= link_to '医療機関新規登録', new_hospital_path, class:"footer-link" %>
        </li>
        <li>
          <%= link_to '医療機関一覧', hospitals_path, class:"footer-link" %>
        </li>
        <li>
          <%= link_to 'セカンドオピニオン一覧', posts_path, class:"footer-link" %>
        </li>
        <li>
          <% if patient_signed_in? %>
            <%= link_to 'マイページ', patient_path, class:"footer-link" %>
          <% elsif doctor_signed_in? %>
            <%= link_to 'マイページ', doctor_path(current_doctor), class:"footer-link" %>
          <% end %>
        </li>
        <li>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-content">
    <div class="footer-content__text">
      <div class="footer-content__title">
        <p>このサイトについて</p>
      </div>
      <ul>
        <li>
          利用規約
        </li>
        <li>
          プライバシーポリシー
        </li>
        <li>
          制作者
        </li>
      </ul>
    </div>
  </div>

</div>
