<li class="nav-list__content"><%= link_to root_path do %>Re:medical<% end %></li>
<li class="nav-list__content"><%= link_to about_path do %>アバウト<% end %></li>
<li class="nav-list__content"><%= link_to new_patient_session_path do %>ログイン<% end %></li>
<li class="nav-list__content"><%= link_to new_patient_registration_path do %>サインアップ<% end %></li>
<li class="nav-list__content"><%= link_to new_doctor_session_path do %>医師ログイン<% end %></li>
<li class="nav-list__content"><%= link_to new_doctor_registration_path do%>医師サインアップ<% end %></li>
