<li class="nav-list__content"><%= link_to root_path, class:"top-title" do %>Re:MEDICAL<% end %></li>
<li class="nav-list__content"><%= link_to about_path, class:"header-content" do %>このサイトについて<% end %></li>
<li class="nav-list__content"><%= link_to new_patient_session_path, class:"header-content" do %>ログイン<% end %></li>
<li class="nav-list__content"><%= link_to new_patient_registration_path, class:"top-button" do %>新規登録<% end %></li>
<li class="nav-list__content"><%= link_to new_doctor_session_path, class:"header-content" do %>医療機関の方<% end %></li>
